Repository learning-process/parallel_programming_course, pull requests merged in 2025-06, with the labels that each got.

#436 Add PR template
  .github/PULL_REQUEST_TEMPLATE/task_submission.md
Labels: ci

#440 Fix language picker base URL
  docs/_templates/footer.html
Labels: docs

#448 Include path in GetStringTaskType error
  modules/core/performance/tests/perf_tests.cpp
  modules/core/task/include/task.hpp
Labels: core, codex

#449 Remove unused install target
  tasks/CMakeLists.txt
Labels: infrastructure, codex

#455 Fix MPI environment variable list size
  modules/core/util/src/util.cpp
Labels: core, codex

#446 Add portable function name helper
  modules/core/task/include/task.hpp
  modules/core/util/include/util.hpp
Labels: core, codex

#459 Exclude venv and .git directories from flake8 checks
  setup.cfg
Labels: infrastructure

#451 Fix pipeline stage check and add tests
  modules/core/task/include/task.hpp
  modules/core/task/tests/.clang-tidy
  modules/core/task/tests/task_tests.cpp
Labels: core, codex

#461 Fix test for unset `PPC_NUM_THREADS` environment variable
  modules/core/util/tests/util.cpp
Labels: core

#467 Remove redundant cmake_minimum_required directive in tasks/CMakeLists.txt
  tasks/CMakeLists.txt
Labels: infrastructure, codex

#468 Add CODEOWNERS
  .github/CODEOWNERS
Labels: ci

#470 [CI] Introduce shared Windows toolchain setup action
  .github/actions/setup-windows-toolchain/action.yml
  .github/workflows/windows.yml
Labels: ci, codex

#471 Add shebang and strict mode to perf script
  scripts/generate_perf_results.sh
Labels: infrastructure, codex

#473 [CI] Add shellcheck lint job
  .github/workflows/lint.yml
Labels: ci, codex

#475 Allow batch test counts
  .github/workflows/mac.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  scripts/run_tests.py
Labels: ci, infrastructure, codex

#476 Add Xcode installation step to macOS workflows
  .github/workflows/mac.yml
Labels: ci

#460 Replace PPC_FUNC_NAME with `ppc::util::FuncName()` implementation
  modules/core/task/include/task.hpp
  modules/core/util/include/util.hpp
Labels: core

#481 Show diff on cmake lint failure
  .github/workflows/cmake-lint.yml
Labels: ci

#483 Use RelWithDebInfo for sanitizers, document build types
  .github/workflows/ubuntu.yml
  docs/locale/en/LC_MESSAGES/user_guide/build.po
  docs/locale/ru/LC_MESSAGES/user_guide/build.po
  docs/user_guide/build.rst
Labels: ci, docs, codex

#488 [CI] Deploy coverage pages
  .github/workflows/main.yml
  .github/workflows/pages.yml
  README.md
Labels: ci, docs, codex

#494 [doc] Use Google-hosted PT Sans for Russian docs
  docs/_static/custom.css
  docs/conf.py
Labels: docs, codex

#495 Fix scoreboard generation after refactoring
  scoreboard/main.py
Labels: scoreboard

#444 Add PPC Ubuntu Docker image and use it on CI
  .github/workflows/docker.yml
  docker/ubuntu.Dockerfile
Labels: ci

#464 Use target-specific include dirs
  3rdparty/stb_library.hpp
  CMakeLists.txt
  cmake/gtest.cmake
  cmake/json.cmake
  cmake/libenvpp.cmake
  cmake/mpi.cmake
  cmake/onetbb.cmake
  cmake/openmp.cmake
  modules/core/CMakeLists.txt
Labels: infrastructure, 3rdparty, core, codex

#499 [CI] Add pre-commit job
  .github/workflows/ubuntu.yml
  requirements.txt
Labels: ci, python

#498 Increase coverage
  modules/core/performance/tests/perf_tests.cpp
  modules/core/runners/include/runners.hpp
  modules/core/runners/src/runners.cpp
  modules/core/task/include/task.hpp
  modules/core/task/tests/task_tests.cpp
  modules/core/util/include/util.hpp
  modules/core/util/tests/util.cpp
  tasks/common/runners/functional.cpp
Labels: core

#500 [CI] Do not run 'pre-commit' job on post commit
  .github/workflows/ubuntu.yml
Labels: ci

#501 [CI] Fix 'pre-commit' job influence on the rest of the pre-commit pipeline
  .github/workflows/pre-commit.yml
  .github/workflows/ubuntu.yml
Labels: ci
