Repository learning-process/parallel_programming_course, pull requests merged in 2025-02, with the labels that each got.

#273 [DOCS] Fix docs update instruction
  docs/Makefile
  docs/README.md
Labels: docs

#274 Translate old part of docs
  docs/locale/ru/LC_MESSAGES/index.po
  docs/locale/ru/LC_MESSAGES/user_guide/build.po
  docs/locale/ru/LC_MESSAGES/user_guide/ci.po
  docs/locale/ru/LC_MESSAGES/user_guide/download.po
  docs/locale/ru/LC_MESSAGES/user_guide/environment.po
  docs/locale/ru/LC_MESSAGES/user_guide/submit_work.po
Labels: docs

#277 [CI] Do not fix actions/upload-artifact actions to specific patch version
  .github/workflows/main.yml
Labels: ci

#278 [CI] Bump seanmiddleditch/gha-setup-ninja to version v6
  .github/workflows/main.yml
Labels: ci

#279 Enable dependabot fot Github Actions
  .github/dependabot.yml
Labels: ci

#276 [CI] Add --no-install-recommends to apt install command lines
  .github/workflows/main.yml
Labels: ci

#286 Add 'scoreboard' label to labeler
  .github/labeler.yml
Labels: ci

#281 [CI] Add YAML files lint job
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/pages.yml
  .github/workflows/static-analysis-pr.yml
  .github/workflows/yaml-lint.yml
  .yamllint
Labels: ci

#267 Enable more warnings
  cmake/configure.cmake
Labels: infrastructure

#290 [CI] Build docs on pre-commit step if modified
  .github/workflows/pages.yml
Labels: ci

#288 Apply and enable misc-include-cleaner clang-tidy remark
  .clang-tidy
  modules/core/perf/func_tests/perf_tests.cpp
  modules/core/perf/src/perf.cpp
  modules/core/task/func_tests/task_tests.cpp
  modules/core/task/include/task.hpp
  modules/core/task/src/task.cpp
  modules/core/util/util.hpp
  modules/ref/average_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/average_of_vector_elements/include/ref_task.hpp
  modules/ref/max_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/max_of_vector_elements/include/ref_task.hpp
  modules/ref/min_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/min_of_vector_elements/include/ref_task.hpp
  modules/ref/most_different_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/most_different_neighbor_elements/include/ref_task.hpp
  modules/ref/nearest_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/nearest_neighbor_elements/include/ref_task.hpp
  modules/ref/num_of_alternations_signs/func_tests/ref_tests.cpp
  modules/ref/num_of_alternations_signs/include/ref_task.hpp
  modules/ref/num_of_orderly_violations/func_tests/ref_tests.cpp
  modules/ref/num_of_orderly_violations/include/ref_task.hpp
  modules/ref/sum_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/sum_of_vector_elements/include/ref_task.hpp
  modules/ref/sum_values_by_rows_matrix/func_tests/ref_tests.cpp
  modules/ref/sum_values_by_rows_matrix/include/ref_task.hpp
  modules/ref/vector_dot_product/func_tests/ref_tests.cpp
  modules/ref/vector_dot_product/include/ref_task.hpp
  tasks/all/example/func_tests/func_all.cpp
  tasks/all/example/include/ops_all.hpp
  tasks/all/example/perf_tests/perf_all.cpp
  tasks/all/example/src/ops_all.cpp
  tasks/all/runner.cpp
  tasks/mpi/example/func_tests/main.cpp
  tasks/mpi/example/include/ops_mpi.hpp
  tasks/mpi/example/perf_tests/main.cpp
  tasks/mpi/example/src/ops_mpi.cpp
  tasks/mpi/runner.cpp
  tasks/omp/example/func_tests/main.cpp
  tasks/omp/example/include/ops_omp.hpp
  tasks/omp/example/perf_tests/main.cpp
  tasks/omp/example/src/ops_omp.cpp
  tasks/seq/example/func_tests/main.cpp
  tasks/seq/example/include/ops_seq.hpp
  tasks/seq/example/perf_tests/main.cpp
  tasks/seq/example/src/ops_seq.cpp
  tasks/seq/example_disabled/func_tests/main.cpp
  tasks/seq/example_disabled/include/ops_seq.hpp
  tasks/seq/example_disabled/perf_tests/main.cpp
  tasks/seq/example_disabled/src/ops_seq.cpp
  tasks/stl/example/func_tests/main.cpp
  tasks/stl/example/include/ops_stl.hpp
  tasks/stl/example/perf_tests/main.cpp
  tasks/stl/example/src/ops_stl.cpp
  tasks/tbb/example/func_tests/main.cpp
  tasks/tbb/example/include/ops_tbb.hpp
  tasks/tbb/example/perf_tests/main.cpp
  tasks/tbb/example/src/ops_tbb.cpp
  tasks/tbb/runner.cpp
Labels: task:mpi, task:omp, task:tbb, task:seq, task:stl, infrastructure, core, task:all, samples

#291 Extend columns in the scoreboard
  scoreboard/index.html
  scoreboard/main.py
  tasks/seq/broken_example_disabled/data/test.txt
  tasks/seq/broken_example_disabled/func_tests/main.cpp
  tasks/seq/broken_example_disabled/include/ops_seq.hpp
  tasks/seq/broken_example_disabled/perf_tests/main.cpp
  tasks/seq/broken_example_disabled/src/ops_seq.cpp
Labels: task:seq, scoreboard

#292 Fix headers config in .clang-tidy
  .clang-tidy
Labels: infrastructure

#287 Add new docs
  docs/common_information/introduction.rst
  docs/common_information/points.rst
  docs/common_information/processes_tasks.rst
  docs/common_information/report.rst
  docs/common_information/threading_tasks.rst
  docs/index.rst
  docs/locale/en/LC_MESSAGES/common_information/introduction.po
  docs/locale/en/LC_MESSAGES/common_information/points.po
  docs/locale/en/LC_MESSAGES/common_information/processes_tasks.po
  docs/locale/en/LC_MESSAGES/common_information/report.po
  docs/locale/en/LC_MESSAGES/common_information/threading_tasks.po
  docs/locale/en/LC_MESSAGES/index.po
  docs/locale/ru/LC_MESSAGES/common_information/introduction.po
  docs/locale/ru/LC_MESSAGES/common_information/points.po
  docs/locale/ru/LC_MESSAGES/common_information/processes_tasks.po
  docs/locale/ru/LC_MESSAGES/common_information/report.po
  docs/locale/ru/LC_MESSAGES/common_information/threading_tasks.po
  docs/locale/ru/LC_MESSAGES/index.po
Labels: docs

#293 [CI] Upload scoreboard and sphinx docs together
  .github/workflows/pages.yml
  README.md
Labels: ci, docs

#296 [CI] Close stale pull requests
  .github/workflows/nightly.yml
Labels: ci

#297 Enable 'modernize-use-nodiscard' clang-tidy check
  .clang-tidy
Labels: infrastructure

#298 Enable 'cppcoreguidelines-init-variables' clang-tidy check
  .clang-tidy
  modules/ref/max_of_vector_elements/include/ref_task.hpp
  modules/ref/min_of_vector_elements/include/ref_task.hpp
Labels: infrastructure, samples

#299 Adjust scoreboard columns
  scoreboard/main.py
Labels: scoreboard

#302 Enable 'mpi-*' clang-tidy checks
  .clang-tidy
Labels: infrastructure

#304 [CI] Add automatic retry for 'choco install' in case of failure on Windows
  .github/workflows/main.yml
Labels: ci

#303 Use cmake to build scoreboard
  .github/workflows/pages.yml
  CMakeLists.txt
  cmake/boost.cmake
  cmake/gtest.cmake
  cmake/opencv.cmake
  cmake/scoreboard.cmake
  modules/CMakeLists.txt
  scoreboard/CMakeLists.txt
  scoreboard/main.py
Labels: ci, infrastructure, scoreboard

#305 [CI] Add 'workflow-dispatch' trigger for nightly workflow
  .github/workflows/nightly.yml
Labels: ci

#310 [CI] Close stall PRs immediately after marking them stall
  .github/workflows/nightly.yml
Labels: ci

#307 Add C specific flags to CMAKE_C_FLAGS
  cmake/configure.cmake
Labels: infrastructure

#309 Fix windows installation
  cmake/opencv.cmake
Labels: infrastructure

#312 Update scoreboard to fit requirements
  scoreboard/main.py
Labels: scoreboard

#314 [docs] Update CI graph
  docs/_static/ci_graph.svg
Labels: docs

#315 [docs] Fix report score table display
  docs/common_information/points.rst
  docs/locale/en/LC_MESSAGES/common_information/points.po
  docs/locale/ru/LC_MESSAGES/common_information/points.po
Labels: docs

#316 [docs] Enforce the same lest pane template in sphinx config
  docs/conf.py
Labels: docs

#317 Use cmake for docs
  .github/workflows/pages.yml
  CMakeLists.txt
  cmake/sphinx.cmake
  docs/CMakeLists.txt
  docs/Makefile
  docs/README.md
  docs/make.bat
Labels: ci, infrastructure, docs

#318 Update and translate docs
  docs/common_information/introduction.rst
  docs/common_information/points.rst
  docs/common_information/report.rst
  docs/locale/en/LC_MESSAGES/common_information/introduction.po
  docs/locale/en/LC_MESSAGES/common_information/points.po
  docs/locale/en/LC_MESSAGES/common_information/report.po
  docs/locale/ru/LC_MESSAGES/common_information/introduction.po
  docs/locale/ru/LC_MESSAGES/common_information/points.po
  docs/locale/ru/LC_MESSAGES/common_information/processes_tasks.po
  docs/locale/ru/LC_MESSAGES/common_information/report.po
  docs/locale/ru/LC_MESSAGES/common_information/threading_tasks.po
  docs/locale/ru/LC_MESSAGES/index.po
Labels: docs

#320 Fix clang-tidy behavior with 'chrono' headers
  modules/core/perf/func_tests/test_task.hpp
Labels: core

#313 Add basic YAML config for the scoreboard
  requirements.txt
  scoreboard/data/performance.yml
  scoreboard/data/plagiarism.yml
  scoreboard/data/threads-config.yml
  scoreboard/main.py
Labels: scoreboard, python

#319 Increase coverage
  modules/core/perf/func_tests/test_task.hpp
  modules/core/perf/src/perf.cpp
  modules/core/task/func_tests/task_tests.cpp
  modules/core/task/func_tests/test_task.hpp
  modules/core/task/src/task.cpp
  scripts/run_tests.py
Labels: infrastructure, core

#322 Fix -Werror flag setting
  cmake/configure.cmake
Labels: infrastructure

#323 Check perf time < 1 sec
  scripts/create_perf_table.py
Labels: infrastructure

#324 [CI] Patch clang-tidy review GitHub Actions
  .github/workflows/static-analysis-pr.yml
Labels: ci

#325 [CI] Uplift clang-tidy version to 19
  .github/workflows/static-analysis-pr.yml
Labels: ci

#321 Increase coverage
  .github/workflows/static-analysis-pr.yml
  cmake/opencv.cmake
  modules/core/util/func_tests/util_tests.cpp
  modules/core/util/include/util.hpp
  modules/core/util/src/util.cpp
  tasks/CMakeLists.txt
  tasks/all/example/func_tests/func_all.cpp
  tasks/all/example/src/ops_all.cpp
  tasks/all/runner.cpp
  tasks/mpi/example/func_tests/main.cpp
  tasks/omp/example/func_tests/main.cpp
  tasks/seq/broken_example_disabled/func_tests/main.cpp
  tasks/seq/example/func_tests/main.cpp
  tasks/stl/example/func_tests/main.cpp
  tasks/stl/example/src/ops_stl.cpp
  tasks/tbb/example/func_tests/main.cpp
  tasks/tbb/example/src/ops_tbb.cpp
  tasks/tbb/runner.cpp
Labels: task:mpi, task:omp, task:tbb, task:seq, task:stl, ci, infrastructure, core, task:all

#330 [CI] Add missing error message for clang-tidy workflow
  .github/workflows/static-analysis-pr.yml
Labels: ci

#336 Remove OpenSSL
  .github/workflows/main.yml
Labels: ci

#337 Update func_all.cpp
  tasks/all/example/func_tests/func_all.cpp
Labels: task:all

#341 Add new generator
  scripts/variants_generation.py
Labels: infrastructure

#344 Fix misc-include-header remarks reported on macOS
  modules/core/task/src/task.cpp
  tasks/stl/example/src/ops_stl.cpp
Labels: task:stl, core

#345 Forbid C-style casts using clang-tidy
  .clang-tidy
Labels: infrastructure

#350 Disable bugprone-easily-swappable-parameters in clang-tidy config
  .clang-tidy
Labels: infrastructure
