Repository learning-process/parallel_programming_course, pull requests merged in 2025-07, with the labels that each got.

#503 refactor: extract RunAllTests function for reusability
  modules/core/runners/src/runners.cpp
Labels: core

#505 refactor CMake scripts: centralize target linking functionality
  CMakeLists.txt
  cmake/gtest.cmake
  cmake/json.cmake
  cmake/libenvpp.cmake
  cmake/mpi.cmake
  cmake/onetbb.cmake
  cmake/openmp.cmake
  cmake/stb.cmake
  modules/core/CMakeLists.txt
Labels: infrastructure, core

#515 [CI] Update to actions/labeler@v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#516 [CI] Allow codecov comment upload failures
  .github/workflows/ubuntu.yml
Labels: ci

#524 Fix comment typo in performance.hpp
  modules/performance/include/performance.hpp
Labels: codex

#520 Remove namespace directives from util headers
  modules/util/include/func_test_util.hpp
  modules/util/include/perf_test_util.hpp
Labels: codex, modules:util

#521 Make run_tests.py executable
  .github/workflows/mac.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  docs/user_guide/ci.rst
  scripts/generate_perf_results.bat
  scripts/generate_perf_results.sh
  scripts/run_tests.py
Labels: ci, infrastructure, docs

#523 Ensure test cleanup via RAII
  modules/task/tests/task_tests.cpp
Labels: codex, modules:task

#528 [CI] Introduce path limits for workflow runs
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/static-analysis-pr.yml
Labels: ci

#530 Switch to add_compile_options instead of appending options to `CMAKE_<LANG>_FLAGS`
  cmake/configure.cmake
Labels: infrastructure

#531 Align pre-commit clang-format version
  .github/workflows/pre-commit.yml
Labels: ci, codex

#533 Add GetNumProc util helper
  docs/user_guide/environment_variables.rst
  modules/util/include/util.hpp
  modules/util/src/util.cpp
  modules/util/tests/util.cpp
Labels: docs, codex, modules:util

#492 [scoreboard] Extract performance data
  scoreboard/main.py
  scripts/create_perf_table.py
Labels: infrastructure, scoreboard

#536 Ignore `.git` directory for yamllint
  .yamllint
Labels: codex

#537 Address ruff linter remarks
  docs/conf.py
  scoreboard/main.py
  scripts/create_perf_table.py
  scripts/run_tests.py
  scripts/variants_generation.py
Labels: infrastructure, docs, scoreboard

#535 [CI] Split lint workflow
  .github/workflows/cpp-lint.yml
  .github/workflows/main.yml
  .github/workflows/python-lint.yml
Labels: ci, codex

#539 [scoreboard] Add efficiency and deadline scoring
  scoreboard/data/threads-config.yml
  scoreboard/main.py
  scoreboard/templates/index.html.j2
Labels: scoreboard, codex

#540 Simplify dependency includes
  CMakeLists.txt
  modules/CMakeLists.txt
Labels: infrastructure, codex

#541 [scoreboard] Switch from prints to logging
  scoreboard/main.py
Labels: scoreboard, codex

#543 [CI] Remove python checks from python-lint.yml
  .github/workflows/main.yml
  .github/workflows/python-lint.yml
  .github/workflows/shell-lint.yml
Labels: ci

#542 [scoreboard] Fix for '?' in A and E columns
  .github/workflows/pages.yml
  scoreboard/main.py
  scoreboard/templates/index.html.j2
  scripts/create_perf_table.py
Labels: ci, infrastructure, scoreboard

#545 Update ci_graph.svg
  docs/_static/ci_graph.svg
Labels: docs

#546 Update .gitignore
  .gitignore
Labels: infrastructure

#548 [scoreboard] Add basic tests
  scoreboard/README.md
  scoreboard/main.py
  scoreboard/tests/conftest.py
  scoreboard/tests/requirements.txt
  scoreboard/tests/test_calculate_performance_metrics.py
  scoreboard/tests/test_check_plagiarism.py
  scoreboard/tests/test_discover_tasks.py
  scoreboard/tests/test_get_solution_points_and_style.py
  scoreboard/tests/test_load_performance_data.py
Labels: scoreboard, python

#551 [scoreboard] Create output dir and move 'static' dir on script side
  scoreboard/CMakeLists.txt
  scoreboard/main.py
Labels: infrastructure, scoreboard

#552 Disallow short functions definition on the same line in clang-format
  .clang-format
  modules/performance/include/performance.hpp
  modules/performance/tests/perf_tests.cpp
  modules/task/include/task.hpp
  modules/task/tests/task_tests.cpp
  modules/util/include/func_test_util.hpp
  modules/util/include/util.hpp
  modules/util/src/func_test_util.cpp
  tasks/common/runners/performance.cpp
  tasks/example_processes/mpi/include/ops_mpi.hpp
  tasks/example_processes/mpi/src/ops_mpi.cpp
  tasks/example_processes/seq/include/ops_seq.hpp
  tasks/example_processes/seq/src/ops_seq.cpp
  tasks/example_processes/tests/functional/main.cpp
  tasks/example_processes/tests/performance/main.cpp
  tasks/example_threads/all/include/ops_all.hpp
  tasks/example_threads/all/src/ops_all.cpp
  tasks/example_threads/omp/include/ops_omp.hpp
  tasks/example_threads/omp/src/ops_omp.cpp
  tasks/example_threads/seq/include/ops_seq.hpp
  tasks/example_threads/seq/src/ops_seq.cpp
  tasks/example_threads/stl/include/ops_stl.hpp
  tasks/example_threads/stl/src/ops_stl.cpp
  tasks/example_threads/tbb/include/ops_tbb.hpp
  tasks/example_threads/tbb/src/ops_tbb.cpp
  tasks/example_threads/tests/functional/main.cpp
  tasks/example_threads/tests/performance/main.cpp
Labels: infrastructure, modules:performance, modules:util, modules:task, task

#555 [CI] Make Ubuntu Docker image visible
  .github/workflows/docker.yml
Labels: ci

#556 [CI] Remove CMake lint workflow configuration
  .github/workflows/cmake-lint.yml
Labels: ci

#558 [CI] Fix Docker upload token
  .github/workflows/docker.yml
Labels: ci

#560 Disable libenvpp tests and examples build
  cmake/libenvpp.cmake
Labels: infrastructure

#564 Move shellcheck to pre-commit hook
  .github/workflows/main.yml
  .github/workflows/shell-lint.yml
  .pre-commit-config.yaml
Labels: ci

#571 Extend clang-format checks list
  .clang-format
  3rdparty/stb_library.hpp
  modules/util/include/util.hpp
Labels: infrastructure, 3rdparty, modules:util

#572 [CI] Add perf collector job for macOS
  .github/workflows/perf.yml
Labels: ci

#577 [CI] Unify pre-commit job
  .github/workflows/cpp-lint.yml
  .github/workflows/main.yml
  .github/workflows/pre-commit.yml
Labels: ci

#576 [CI] Remove 3rdparty action usage in perf collection workflow
  .github/workflows/perf.yml
Labels: ci

#553 [CI] Dockerize Ubuntu builds
  .github/workflows/perf.yml
  .github/workflows/ubuntu.yml
  cmake/configure.cmake
Labels: ci, infrastructure

#580 [CI] Dockerize pre-commit jobs
  .github/workflows/pre-commit.yml
Labels: ci

#581 [CI] Remove pip install steps in .github/workflows/ubuntu.yml
  .github/workflows/ubuntu.yml
Labels: ci

#582 [CI] Build up-to-date Docker image version on pre-commit
  .github/workflows/docker.yml
Labels: ci

#584 Try to strengthen the codecov settings
  .github/codecov.yml
Labels: ci
