Repository learning-process/parallel_programming_course, pull requests merged in 2025-05, with the labels that each got.

#373 [CI] Enable automatic NOLINT check
  .github/workflows/static-analysis-pr.yml
Labels: ci

#374 [CI] Switch testing to LLVM 20
  .github/workflows/main.yml
Labels: ci

#375 Extend clang-format rules list
  .clang-format
  modules/ref/average_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/average_of_vector_elements/include/ref_task.hpp
  modules/ref/max_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/max_of_vector_elements/include/ref_task.hpp
  modules/ref/min_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/min_of_vector_elements/include/ref_task.hpp
  modules/ref/most_different_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/most_different_neighbor_elements/include/ref_task.hpp
  modules/ref/nearest_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/nearest_neighbor_elements/include/ref_task.hpp
  modules/ref/num_of_alternations_signs/func_tests/ref_tests.cpp
  modules/ref/num_of_alternations_signs/include/ref_task.hpp
  modules/ref/num_of_orderly_violations/func_tests/ref_tests.cpp
  modules/ref/num_of_orderly_violations/include/ref_task.hpp
  modules/ref/sum_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/sum_of_vector_elements/include/ref_task.hpp
  modules/ref/sum_values_by_rows_matrix/func_tests/ref_tests.cpp
  modules/ref/sum_values_by_rows_matrix/include/ref_task.hpp
  modules/ref/vector_dot_product/func_tests/ref_tests.cpp
  modules/ref/vector_dot_product/include/ref_task.hpp
Labels: infrastructure, samples

#377 Do not suppress 'unreferenced formal parameter' MSVC warning (C4100)
  cmake/configure.cmake
  tasks/all/runner.cpp
  tasks/mpi/runner.cpp
Labels: task:mpi, infrastructure, task:all

#378 Disable warnings suppression in clang + MSVC case
  cmake/configure.cmake
Labels: infrastructure

#387 [CI] Remove duplications across x64 and ARM64 jobs
  .github/workflows/main.yml
Labels: ci

#388 Refactoring for new API
  modules/core/perf/func_tests/perf_tests.cpp
  modules/core/perf/func_tests/test_task.hpp
  modules/core/perf/include/perf.hpp
  modules/core/perf/src/perf.cpp
  modules/core/task/func_tests/task_tests.cpp
  modules/core/task/func_tests/test_task.hpp
  modules/core/task/include/task.hpp
  modules/core/task/src/task.cpp
  modules/core/util/include/util.hpp
  modules/ref/CMakeLists.txt
  modules/ref/average_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/average_of_vector_elements/include/ref_task.hpp
  modules/ref/max_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/max_of_vector_elements/include/ref_task.hpp
  modules/ref/min_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/min_of_vector_elements/include/ref_task.hpp
  modules/ref/most_different_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/most_different_neighbor_elements/include/ref_task.hpp
  modules/ref/nearest_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/nearest_neighbor_elements/include/ref_task.hpp
  modules/ref/num_of_alternations_signs/func_tests/ref_tests.cpp
  modules/ref/num_of_alternations_signs/include/ref_task.hpp
  modules/ref/num_of_orderly_violations/func_tests/ref_tests.cpp
  modules/ref/num_of_orderly_violations/include/ref_task.hpp
  modules/ref/sum_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/sum_of_vector_elements/include/ref_task.hpp
  modules/ref/sum_values_by_rows_matrix/func_tests/ref_tests.cpp
  modules/ref/sum_values_by_rows_matrix/include/ref_task.hpp
  modules/ref/vector_dot_product/func_tests/ref_tests.cpp
  modules/ref/vector_dot_product/include/ref_task.hpp
  scripts/run_perf_counter.py
  scripts/run_tests.py
  tasks/all/example/func_tests/func_all.cpp
  tasks/all/example/func_tests/main.cpp
  tasks/all/example/include/ops_all.hpp
  tasks/all/example/perf_tests/main.cpp
  tasks/all/example/perf_tests/perf_all.cpp
  tasks/all/example/src/ops_all.cpp
  tasks/mpi/example/func_tests/main.cpp
  tasks/mpi/example/include/ops_mpi.hpp
  tasks/mpi/example/perf_tests/main.cpp
  tasks/mpi/example/src/ops_mpi.cpp
  tasks/omp/example/func_tests/main.cpp
  tasks/omp/example/include/ops_omp.hpp
  tasks/omp/example/perf_tests/main.cpp
  tasks/omp/example/src/ops_omp.cpp
  tasks/seq/example/func_tests/main.cpp
  tasks/seq/example/include/ops_seq.hpp
  tasks/seq/example/perf_tests/main.cpp
  tasks/seq/example/src/ops_seq.cpp
  tasks/stl/example/func_tests/main.cpp
  tasks/stl/example/include/ops_stl.hpp
  tasks/stl/example/perf_tests/main.cpp
  tasks/stl/example/src/ops_stl.cpp
  tasks/tbb/example/func_tests/main.cpp
  tasks/tbb/example/include/ops_tbb.hpp
  tasks/tbb/example/perf_tests/main.cpp
  tasks/tbb/example/src/ops_tbb.cpp
Labels: task:mpi, task:omp, task:tbb, task:seq, task:stl, infrastructure, core, task:all, samples

#396 [CI] Remove testing on 6, 8, 15, 16 threads
  .github/workflows/main.yml
Labels: ci

#397 Fix sanitizer
  scripts/run_tests.py
Labels: infrastructure

#398 [CI] Fix missing 'ASAN_RUN' env variables in sanitizer runs
  .github/workflows/main.yml
Labels: ci

#399 Set up initial doxygen configuration setting and binding with sphinx
  .github/workflows/pages.yml
  .gitignore
  Doxyfile
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/user_guide/api.rst
Labels: ci, infrastructure, docs, python

#400 Remove 'CLANG_BUILD' env variable usage
  .github/workflows/main.yml
  scripts/run_tests.py
Labels: ci, infrastructure

#402 Add missing '\n' in test time output
  modules/core/task/src/task.cpp
Labels: core

#401 Re-enable selected clang-tidy diagnostics
  .clang-tidy
Labels: infrastructure

#403 Remove CMake keys
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/static-analysis-pr.yml
  CMakeLists.txt
  cmake/configure.cmake
  cmake/gtest.cmake
  cmake/mpi.cmake
  cmake/onetbb.cmake
  cmake/openmp.cmake
  cmake/threads.cmake
  docs/locale/en/LC_MESSAGES/user_guide/build.po
  docs/locale/ru/LC_MESSAGES/user_guide/build.po
  docs/user_guide/build.rst
  modules/CMakeLists.txt
  tasks/CMakeLists.txt
Labels: ci, infrastructure, docs

#404 Remove outdated example
  tasks/seq/broken_example_disabled/data/test.txt
  tasks/seq/broken_example_disabled/func_tests/main.cpp
  tasks/seq/broken_example_disabled/include/ops_seq.hpp
  tasks/seq/broken_example_disabled/perf_tests/main.cpp
  tasks/seq/broken_example_disabled/src/ops_seq.cpp
Labels: task:seq

#405 Enable readability-identifier-length and tune its settings
  .clang-tidy
Labels: infrastructure

#407 Enable 'bugprone-exception-escape' and 'misc-header-include-cycle' clang-tidy checks
  .clang-tidy
Labels: infrastructure

#408 Reorder repository setup docs chronologically
  docs/index.rst
Labels: docs

#409 [CI] Extend linter suppression markers check with checks for 'IWYU pragma'
  .github/workflows/static-analysis-pr.yml
Labels: ci

#406 Enable 'concurrency-*' checks in clang-tidy
  .clang-tidy
  modules/core/task/src/task.cpp
  modules/core/util/func_tests/util_tests.cpp
  modules/core/util/src/util.cpp
  tasks/all/runner.cpp
  tasks/mpi/runner.cpp
Labels: task:mpi, infrastructure, core, task:all

#410 Add 'no_stale' label for actions/stale
  .github/workflows/nightly.yml
Labels: ci

#411 Remove unused function in run_tests.py
  scripts/run_tests.py
Labels: infrastructure

#413 Fix missing CMAKE_BUILD_TYPE in 'cmake ..' scenario
  cmake/configure.cmake
Labels: infrastructure

#412 Add build prerequisites section to environment.rst
  docs/locale/en/LC_MESSAGES/user_guide/environment.po
  docs/locale/ru/LC_MESSAGES/user_guide/environment.po
  docs/user_guide/environment.rst
Labels: docs

#415 Enable func and perf tests build by default
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/static-analysis-pr.yml
  cmake/modes.cmake
Labels: ci, infrastructure

#416 Add Doxygen build instructions to docs/README.md
  docs/README.md
Labels: docs

#417 Add language selector to sphinx docs
  docs/_templates/footer.html
  docs/_templates/layout.html
  docs/conf.py
Labels: docs

#418 [CI] Resolve yamllint concerns
  .github/workflows/main.yml
  .github/workflows/static-analysis-pr.yml
Labels: ci

#419 [CI] Switch to clang-format-20
  .github/workflows/main.yml
Labels: ci

#420 Apply fixes for test scripts
  .github/workflows/main.yml
  scripts/create_perf_table.py
  scripts/run_tests.py
Labels: ci, infrastructure

#421 Enable bugprone-implicit-widening-of-multiplication-result clang-tidy check
  .clang-tidy
  tasks/all/example/func_tests/main.cpp
  tasks/all/example/perf_tests/main.cpp
  tasks/mpi/example/perf_tests/main.cpp
  tasks/omp/example/perf_tests/main.cpp
  tasks/seq/example/perf_tests/main.cpp
  tasks/stl/example/perf_tests/main.cpp
  tasks/tbb/example/perf_tests/main.cpp
Labels: task:mpi, task:omp, task:tbb, task:seq, task:stl, infrastructure, task:all

#423 Unify environment variables usage across the project
  .github/workflows/main.yml
  docs/index.rst
  docs/locale/en/LC_MESSAGES/user_guide/environment_variables.po
  docs/locale/ru/LC_MESSAGES/user_guide/environment_variables.po
  docs/user_guide/environment_variables.rst
  modules/core/util/func_tests/util_tests.cpp
  modules/core/util/src/util.cpp
  scripts/create_perf_table.py
  scripts/run_tests.py
Labels: ci, infrastructure, docs, core

#389 Remove misc-include-cleaner suppression in util_tests.cpp
  .clang-tidy
  modules/core/util/func_tests/util_tests.cpp
Labels: infrastructure, core

#425 Ensure newline at the end of file
  .clang-format
  tasks/omp/example/include/ops_omp.hpp
  tasks/seq/example/include/ops_seq.hpp
Labels: task:omp, task:seq, infrastructure

#429 Add PPC_IGNORE_TEST_TIME_LIMIT environment variable to disable test time limits
  docs/locale/en/LC_MESSAGES/user_guide/environment_variables.po
  docs/locale/ru/LC_MESSAGES/user_guide/environment_variables.po
  docs/user_guide/environment_variables.rst
  modules/core/task/src/task.cpp
Labels: docs, core
