Repository learning-process/parallel_programming_course, pull requests merged in 2025-01, with the labels that each got.

#160 [CI] Make scheduled job runs 4 times a day
  .github/workflows/main.yml
  .github/workflows/perf-statistic.yml
Labels: ci

#162 Detect unread MPI messages
  tasks/mpi/runner.cpp
Labels: task:mpi

#163 Log failures from MPI workers
  tasks/mpi/runner.cpp
Labels: task:mpi

#166 Enable misc-use-anonymous-namespace diagnostic in clang-tidy
  .clang-tidy
  1stsamples/stl/main.cpp
  1stsamples/tbb/main.cpp
  tasks/stl/example/src/ops_stl.cpp
Labels: task:stl

#171 Check count of perf tests
  .github/workflows/perf-statistic.yml
  scripts/run_perf_count_checker.sh
Labels: ci

#187 Convert Markdown to RST
  .gitignore
  docs/build.md
  docs/build.rst
  docs/download.md
  docs/download.rst
  docs/environment.md
  docs/environment.rst
  docs/submit_work.md
  docs/submit_work.rst
Labels: infrastructure, docs

#191 Fix links in README.md
  README.md
Labels: infrastructure

#189 [CI] Split CI into stages
  .github/workflows/main.yml
  .github/workflows/perf-statistic.yml
  .github/workflows/static-analysis-pr.yml
  .github/workflows/static-analysis.yml
Labels: ci

#193 Enable sphinx docs and deploy them to Github Pages
  .github/workflows/pages.yml
  docs/.gitignore
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
Labels: ci, docs

#194 Remove redundant badge from README.md
  README.md
Labels: infrastructure

#195 Upload RST docs to the website and add navigation there, add website link to README.md
  README.md
  docs/index.rst
  docs/user_guide/build.rst
  docs/user_guide/download.rst
  docs/user_guide/environment.rst
  docs/user_guide/submit_work.rst
Labels: infrastructure, docs

#196 Fix perf table creation failure in case expected test is not found
  scripts/create_perf_table.py
Labels: infrastructure

#198 [CI] Split long build + test CI jobs
  .github/workflows/main.yml
Labels: ci

#199 [CI] Adjust pages deployment configuration
  .github/workflows/pages.yml
Labels: ci

#202 [CI] Return back coverage reporting in codecov job
  .github/workflows/main.yml
Labels: ci

#204 Add "data" directory
  cmake/configure.cmake
  modules/core/task/include/task.hpp
  tasks/mpi/example/data/test.txt
  tasks/mpi/example/func_tests/main.cpp
  tasks/omp/example/data/test.txt
  tasks/omp/example/func_tests/main.cpp
  tasks/seq/example/data/test.txt
  tasks/seq/example/func_tests/main.cpp
  tasks/stl/example/data/test.txt
  tasks/stl/example/func_tests/main.cpp
  tasks/tbb/example/data/test.txt
  tasks/tbb/example/func_tests/main.cpp
Labels: task:mpi, task:omp, task:tbb, task:seq, task:stl, core

#206 Apply clang-tidy on both headers and sources
  .clang-tidy
  modules/core/perf/func_tests/perf_tests.cpp
  modules/core/perf/func_tests/test_task.hpp
  modules/core/perf/include/perf.hpp
  modules/core/perf/src/perf.cpp
  modules/core/task/func_tests/task_tests.cpp
  modules/core/task/func_tests/test_task.hpp
  modules/core/task/include/task.hpp
  modules/core/task/src/task.cpp
  modules/ref/average_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/average_of_vector_elements/include/ref_task.hpp
  modules/ref/max_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/max_of_vector_elements/include/ref_task.hpp
  modules/ref/min_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/min_of_vector_elements/include/ref_task.hpp
  modules/ref/most_different_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/most_different_neighbor_elements/include/ref_task.hpp
  modules/ref/nearest_neighbor_elements/func_tests/ref_tests.cpp
  modules/ref/nearest_neighbor_elements/include/ref_task.hpp
  modules/ref/num_of_alternations_signs/func_tests/ref_tests.cpp
  modules/ref/num_of_alternations_signs/include/ref_task.hpp
  modules/ref/num_of_orderly_violations/func_tests/ref_tests.cpp
  modules/ref/num_of_orderly_violations/include/ref_task.hpp
  modules/ref/sum_of_vector_elements/func_tests/ref_tests.cpp
  modules/ref/sum_of_vector_elements/include/ref_task.hpp
  modules/ref/sum_values_by_rows_matrix/func_tests/ref_tests.cpp
  modules/ref/sum_values_by_rows_matrix/include/ref_task.hpp
  modules/ref/vector_dot_product/func_tests/ref_tests.cpp
  modules/ref/vector_dot_product/include/ref_task.hpp
  tasks/mpi/example/func_tests/main.cpp
  tasks/mpi/example/include/ops_mpi.hpp
  tasks/mpi/example/perf_tests/main.cpp
  tasks/mpi/example/src/ops_mpi.cpp
  tasks/omp/example/func_tests/main.cpp
  tasks/omp/example/include/ops_omp.hpp
  tasks/omp/example/perf_tests/main.cpp
  tasks/omp/example/src/ops_omp.cpp
  tasks/seq/example/func_tests/main.cpp
  tasks/seq/example/include/ops_seq.hpp
  tasks/seq/example/perf_tests/main.cpp
  tasks/seq/example/src/ops_seq.cpp
  tasks/stl/example/func_tests/main.cpp
  tasks/stl/example/include/ops_stl.hpp
  tasks/stl/example/perf_tests/main.cpp
  tasks/stl/example/src/ops_stl.cpp
  tasks/tbb/example/func_tests/main.cpp
  tasks/tbb/example/include/ops_tbb.hpp
  tasks/tbb/example/perf_tests/main.cpp
  tasks/tbb/example/src/ops_tbb.cpp
Labels: task:mpi, task:omp, task:tbb, task:seq, task:stl, infrastructure, core

#205 Add "all" dir
  .github/labeler.yml
  .github/workflows/main.yml
  codecov.yml
  docs/user_guide/submit_work.rst
  scripts/create_perf_table.py
  scripts/run.bat
  scripts/run_mpi.sh
  scripts/run_perf_collector.bat
  scripts/run_perf_collector.sh
  scripts/run_perf_count_checker.sh
  tasks/CMakeLists.txt
  tasks/all/example/data/test_mpi.txt
  tasks/all/example/data/test_omp.txt
  tasks/all/example/data/test_seq.txt
  tasks/all/example/data/test_stl.txt
  tasks/all/example/data/test_tbb.txt
  tasks/all/example/func_tests/func_mpi.cpp
  tasks/all/example/func_tests/func_omp.cpp
  tasks/all/example/func_tests/func_seq.cpp
  tasks/all/example/func_tests/func_stl.cpp
  tasks/all/example/func_tests/func_tbb.cpp
  tasks/all/example/include/ops_mpi.hpp
  tasks/all/example/include/ops_omp.hpp
  tasks/all/example/include/ops_seq.hpp
  tasks/all/example/include/ops_stl.hpp
  tasks/all/example/include/ops_tbb.hpp
  tasks/all/example/perf_tests/perf_omp.cpp
  tasks/all/example/perf_tests/perf_tbb.cpp
  tasks/all/example/src/ops_mpi.cpp
  tasks/all/example/src/ops_omp.cpp
  tasks/all/example/src/ops_seq.cpp
  tasks/all/example/src/ops_stl.cpp
  tasks/all/example/src/ops_tbb.cpp
  tasks/all/runner.cpp
Labels: ci, infrastructure, docs

#208 Add Win Ninja (MSVC and Clang)
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/boost.cmake
  cmake/configure.cmake
  cmake/gtest.cmake
  cmake/onetbb.cmake
Labels: ci, infrastructure

#211 [CI] Add OpenMP parallelism parameters to pure MPI jobs
  .github/workflows/main.yml
Labels: ci

#217 [doc] Enable warnings as errors in sphinx build
  docs/Makefile
  docs/_static/.gitkeep
Labels: docs

#216 [CI] Use gcovr instead of lcov for codecov
  .github/workflows/main.yml
Labels: ci

#218 [CI] Use ccache on codecov job
  .github/workflows/main.yml
Labels: ci

#221 [CI] Increase size of build ccache storage per job
  .github/workflows/main.yml
Labels: ci

#150 [CI] Use gcc-14 as a default compiler
  .github/workflows/main.yml
Labels: ci

#222 [CI] Trigger standard set of jobs when PR is added to merge queue
  .github/workflows/main.yml
Labels: ci

#223 Remove usage of sklearn from variants_generation.py
  scripts/variants_generation.py
Labels: infrastructure

#224 Add requirements.txt for Python scripts
  .github/workflows/main.yml
  requirements.txt
Labels: ci, infrastructure

#225 Bind TBB max threads num to OMP_NUM_THREADS environment variable value
  tasks/all/runner.cpp
  tasks/tbb/runner.cpp
Labels: task:tbb, task:all

#226 Skip adding tests for disabled tasks (instead of revert)
  tasks/CMakeLists.txt
Labels: infrastructure

#228 Fix disabled tests behavior
  tasks/CMakeLists.txt
Labels: infrastructure

#234 [CI] Handle 'cmake' directory in labeler.yml
  .github/labeler.yml
Labels: ci

#232 Take disabled directories into account in run_perf_count_checker.sh
  scripts/run_perf_count_checker.sh
Labels: infrastructure

#235 [CI] Fail on sanitizer errors
  .github/workflows/main.yml
  cmake/sanitizers.cmake
Labels: ci, infrastructure

#241 Add dependabot
  .github/dependabot.yml
Labels: ci

#244 Add sphinx i18n
  .github/workflows/pages.yml
  README.md
  docs/.gitignore
  docs/Makefile
  docs/conf.py
  docs/locale/en/LC_MESSAGES/index.po
  docs/locale/en/LC_MESSAGES/user_guide/build.po
  docs/locale/en/LC_MESSAGES/user_guide/download.po
  docs/locale/en/LC_MESSAGES/user_guide/environment.po
  docs/locale/en/LC_MESSAGES/user_guide/submit_work.po
  docs/locale/ru/LC_MESSAGES/index.po
  docs/locale/ru/LC_MESSAGES/user_guide/build.po
  docs/locale/ru/LC_MESSAGES/user_guide/download.po
  docs/locale/ru/LC_MESSAGES/user_guide/environment.po
  docs/locale/ru/LC_MESSAGES/user_guide/submit_work.po
  docs/make.bat
  docs/requirements.txt
Labels: ci, infrastructure, docs

#245 Update README.md
  README.md
Labels: infrastructure

#249 [CI] Do not cancel builds in merge queue
  .github/workflows/main.yml
  .github/workflows/static-analysis-pr.yml
Labels: ci

#251 Add CI page in the documentation
  docs/Makefile
  docs/_static/.gitkeep
  docs/_static/ci_graph.svg
  docs/index.rst
  docs/locale/en/LC_MESSAGES/user_guide/ci.po
  docs/locale/ru/LC_MESSAGES/user_guide/ci.po
  docs/user_guide/ci.rst
  scripts/jobs_graph.py
Labels: infrastructure, docs

#252 [CI] Fix seanmiddleditch/gha-setup-ninja Github Action version to v5
  .github/workflows/main.yml
Labels: ci

#254 [DOCS] Separate update step (sphinx-intl run) from docs build
  docs/Makefile
Labels: docs

#255 Add README for docs
  docs/README.md
Labels: docs

#253 Prototype build step cache for Ubuntu gcc tests
  .github/workflows/main.yml
  .gitignore
  cmake/onetbb.cmake
  cmake/opencv.cmake
  modules/core/CMakeLists.txt
  modules/ref/CMakeLists.txt
  scripts/run_mpi.sh
  scripts/run_threads.sh
  tasks/CMakeLists.txt
Labels: ci, infrastructure, core

#258 Add Pages build & deploy status badge to README.md
  README.md
Labels: infrastructure

#256 [CI] Add CodeQL nightly job
  .github/workflows/codeql.yml
Labels: ci

#257 [CI] Use os-compiler pair as a key for ccache
  .github/workflows/main.yml
  .github/workflows/static-analysis-pr.yml
Labels: ci

#259 [CI] Install all required apt packages in one command
  .github/workflows/main.yml
Labels: ci

#260 [CI] Add trigger on workflow_dispatch event for pages deployment and CodeQL jobs, add CodeQL badge to README
  .github/workflows/codeql.yml
  .github/workflows/pages.yml
  README.md
Labels: ci, infrastructure

#264 Fix pipeline duplication
  tasks/all/example/perf_tests/perf_all.cpp
  tasks/mpi/example/perf_tests/main.cpp
Labels: task:mpi, infrastructure, task:all

#265 [CI] Fix Ubuntu version used in jobs on 24.04
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/pages.yml
  .github/workflows/static-analysis-pr.yml
Labels: ci, infrastructure

#269 [CI] Bump CodeQL to version 3
  .github/workflows/codeql.yml
Labels: ci, infrastructure

#271 [CI] Use pre-built binaries for perf check
  .github/workflows/main.yml
  scripts/generate_perf_results.sh
  scripts/run_perf_collector.sh
  scripts/run_perf_count_checker.sh
Labels: ci, infrastructure

#272 [CI] Fix setting 'infrastructure' label and add 'python' label
  .github/labeler.yml
Labels: ci, infrastructure
